<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.album.mapper.AlbumInfoMapper">


    <select id="findUserAlbumPageByUserId" resultType="com.atguigu.tingshu.vo.album.AlbumListVo">

        select ai.id as album_id,
        ai.album_title,
        ai.cover_url,
        ai.include_track_count,
        ai.is_finished,
        max(if(stat.stat_type = '0401', stat.stat_num, 0)) as playStatNum,
        max(if(stat.stat_type = '0402', stat.stat_num, 0)) as subscribeStatNum,
        max(if(stat.stat_type = '0403', stat.stat_num, 0)) as buyStatNum,
        max(if(stat.stat_type = '0404', stat.stat_num, 0)) as commentStatNum
        from album_info ai
        inner join album_stat stat on ai.id = stat.album_id
        <where>
            <if test="vo.userId!=null">
                ai.user_id = #{vo.userId}
            </if>
            <if test="vo.status!=null and vo.status!=''">
                and ai.status = #{vo.status}
            </if>
            <if test="vo.albumTitle!=null and vo.albumTitle!=''">
                and ai.album_title like concat('%',#{vo.albumTitle},'%')
            </if>
            and ai.is_deleted=0
        </where>
        group by ai.id
        ORDER BY ai.id desc
    </select>

    <resultMap id="getAlbumInfoByIdMap" type="com.atguigu.tingshu.model.album.AlbumInfo" autoMapping="true">
        <id column="id" property="id"/>
        <result column="album_title" property="albumTitle"/>
        <result column="category3_id" property="category3Id"/>
        <result column="album_intro" property="albumIntro"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="is_finished" property="isFinished"/>
        <result column="album_rich_intro" property="albumRichIntro"/>
        <result column="pay_type" property="payType"/>
        <result column="price_type" property="priceType"/>
        <result column="is_open" property="isOpen"/>
        <result column="price" property="price"/>
        <result column="discount" property="discount"/>
        <result column="vip_discount" property="vipDiscount"/>
        <collection property="albumAttributeValueVoList" ofType="com.atguigu.tingshu.model.album.AlbumAttributeValue"
                    autoMapping="true">
            <id column="aav_id" property="id"/>
            <result column="album_id" property="albumId"/>
            <result column="attribute_id" property="attributeId"/>
            <result column="value_id" property="valueId"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="getAlbumInfoById" resultMap="getAlbumInfoByIdMap">
        select ai.id,
               ai.album_title,
               ai.category3_id,
               ai.album_intro,
               ai.cover_url,
               ai.is_finished,
               ai.album_rich_intro,
               ai.pay_type,
               ai.price_type,
               ai.is_open,
               ai.price,
               ai.discount,
               ai.vip_discount,
               aav.id as aav_id,
               aav.album_id,
               aav.value_id,
               aav.attribute_id,
               aav.create_time,
               ai.user_id
        from album_info ai
                 inner join album_attribute_value aav on ai.id = aav.album_id
        where ai.id = #{id}
          and aav.is_deleted = 0
    </select>
</mapper>

