<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.album.mapper.BaseAttributeMapper">

    <resultMap id="baseAttributeValues" type="com.atguigu.tingshu.model.album.BaseAttribute" autoMapping="true">
        <id column="id" property="id"/>
        <result column="attribute_name" property="attributeName"/>
        <result column="create_time" property="createTime"/>
        <collection property="attributeValueList" ofType="com.atguigu.tingshu.model.album.BaseAttributeValue" autoMapping="true">
            <id column="attribute_value_id" property="id"/>
            <result column="attribute_id" property="attributeId"/>
            <result column="value_name" property="valueName"/>
            <result column="create_time2" property="createTime"/>
        </collection>
    </resultMap>

    <select id="getAttributeByCategory1Id" resultMap="baseAttributeValues">
        SELECT ba.id,
               ba.create_time,
               ba.attribute_name,
               ba.category1_id,
               bav.id as attribute_value_id,
               bav.attribute_id,
               bav.value_name,
               bav.create_time as create_time2
        from base_attribute ba
                 INNER JOIN base_attribute_value bav on ba.id = bav.attribute_id
        where ba.category1_id = #{category1Id}
          and ba.is_deleted = 0
    </select>
</mapper>

